node_modules
docs
dist

.env
.env.local
.env.*.local
*.pem

/server/output_data/*
!/server/output_data/.gitkeep

files
/server/input_schemas/*
!/server/input_schemas/.gitkeep

test.js

.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
npm-debug.log*